@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #F8F7FC;
}

.registration-container {
    background: #ffffff;
    padding: 15px 25px;
    width: 640px;
    border-radius: 12px;
    box-shadow: 10px 14px 90px #F5AC6252;
}

.registration-header h2 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.registration-header .divider {
    display: block;
    width: 40%;
    height: 5px;
    background: #FC8C1B;
    margin: 4px auto;
}

.registration-body .registration-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0;
}

.registration-box .input-box {
    width: 48%;
    padding: 5px 0;
}

.registration-box .input-box label {
    font-size: 14px;
    color: #231E1E;
}

.registration-box .input-field {
    width: 100%;
    height: 36px;
    border-radius: 4px;
    border: 1px solid #1B1B1B46;
    padding-left: 8px;
}

.registration-box .input-field:focus {
    outline: none;
    border: solid #FC8C1B;
    border-width: 1px 1px 3px 1px;
}

.registration-body .btn-register {
    display: block;
    margin: 20px auto;
    background: #FC8C1B;
    color: #F8F7FC;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 25px;
    border: none; /* Remove border */
    border-radius: 4px;
    box-shadow: 0px 4px 12px #F5AC6280;
    cursor: pointer;
}

.registration-body .btn-register:hover {
    background: #231E1E;
    box-shadow: 0px 4px 12px #231E1E90;
}

@media screen and (max-width: 480px) {
    .registration-container {
        width: 90%;
        padding: 10px;
    }

    .registration-box .input-box {
        width: 100%;
    }

    .registration-body .btn-register {
        width: 100%;
    }
}
